

// -- Imports Urls-- // 
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);


// -- Vars -- //
$color: #fff;		  // icon color
$pastelgreen:  #70DA92;	  // background color
$animation: 0.6s;	// animation speed
$scale: 1;			  // icon scale 68/68 default

page-home {

    *{ box-sizing: border-box; }

    // -- reset all parameters -- //
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  
    .error{
      font-size: 10px;
      color:red;
      padding-top: 5px;
    }

    /* -- header hamburguer botton menu -- */
      #hamburger {
        display: none;
      }

     .menuIcon{
      width: 30px;
      height: 25px;
      float: right;
      position: relative;
      margin-top: 5px;
      
     }

    .menuicon {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      cursor: pointer;
      height: 21px;
      width: 25px;
      
      }

      .menuicon span, .menuicon span::after, .menuicon span::before{
      display: block;
      width: 22px;
      height: 3px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 0.08em 0.08em #999;
      }

      .menuicon span {
      top: 8px;
      position: relative;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -ms-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
    
      
      }

      .menuicon span::after, .menuicon span::after, .menuicon span::before {
      
      content: '';
      position: absolute;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -ms-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
      
      }
      
      .menuicon span::before {
        margin-top: -8px;
       
      }
      
      .menuicon span::after {
        margin-top: 8px;
       
      }

      #hamburger:checked ~ .menuicon span {
      background-color: transparent;
     
      }

      #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
      margin-top: 0px;
     
      }

    
      #hamburger:checked ~ .menuicon span::after {
         box-shadow: none;
         box-shadow: 0.08em 0.08em #999;
      }

      #hamburger:checked ~ .option{
        transform: translateX(0%);
      }

    /* -- header hamburguer botton menu -- */

   /* navegation-menu on headder */
      .option{
        position: absolute;
        width: 90%;
        height: 35vh;
        background-color: transparent ;
        top: 0px;
        left: 0;
        transition: all 0.5s;
        transform: translateX(-120%);
      }

      /* #region SuccessLog or ErrorLog Div*/
      .acess{
        position: absolute;
        width: 100%;
        height: 160%;
        background-color: rgba(112,218,146,0.8%);
        top: 0px;
        z-index: 600;
        display: none;
      }

      .spinner {
        width: 60px;
        height: 60px;
      
        position: relative;
        margin: 120% auto;
      }
      
      .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #999;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }
      
      .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
      }
      
      @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
    /* #endregion SuccessLog or ErrorLog Div */
      
    
    .option a{
        width: 100%;
        height: 35px;
        color:white;
        margin-top: 1px;
        left: 15px;
        text-decoration: none;
        padding: 40px;
        transition: width 0.5s;
        display: block;
        position: relative;
        padding: .85rem 1rem 1rem;
        border-radius: 0px 10px 10px 10px;
        
        -webkit-transition: -webkit-transform .22s,box-shadow .22s;
        transition: transform .22s,box-shadow .22s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        box-shadow: 0 0 0 -.25rem rgba(0,0,0, 0.3);
        
      }
      
     .option a:focus,  .option a:hover {
        outline: 0;
        box-shadow: 0 .5rem 0 -.25rem rgba(0,0,0, 0.3);
        opacity: 1;
        -webkit-transform: scale(1.08);
        transform:scale(1.08);
        -webkit-transition: -webkit-transform .088s,box-shadow .088s;
        transition: transform .088s,box-shadow .088s;
        z-index: 1;
        color:$pastelgreen;
      }

     .option a:nth-child(1) {
        background: #555; //#95c5db;
      }
     .option a:nth-child(2) {
        background: #555; //#94c1db;
      }
     .option a:nth-child(3) {
        background: #555; //#94bddb;
      }
     .option a:nth-child(4) {
        background: #555; //#94b9db;
      }
     .option a:nth-child(5) {
        background: #555; //#94b5db;
      }
     .option a:nth-child(6) {
        background: #555; //#94b2db;
      }
      
      .option a:nth-child(6):hover {
        cursor: pointer;
      }

      .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

   /* navegation-menu on headder */

    .appIcon{
      font-family: 'Pacifico', cursive;
      color: white;
      background-color: $pastelgreen;
      height: 30px;
      width: 30%;
      margin-top: 10px;
      float: left;
      position:relative;
      text-shadow: 0.1em 0.1em #999;
    }
  
    .logScrn{
      z-index: -1;
    	width: 100%;
    	height: 160%;
    	background-color: black;
      position: absolute;
      top: 0;
    }

    .header{
    	padding: 0;
   		background-color: $pastelgreen; // aqui van los iconos inicio - menu 
   		width: 100%;
   		height: 10%;
   		position: initial;
   	}

	.topScrn{
    z-index: 50;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 60%;
		background-color: #70DA92;
    position: absolute;
    
	}
    
	h2{
		 color: white;
		 padding-top: 10%;
     text-align: center;
     font-family: 'Noto Sans KR', sans-serif;
     text-shadow: 0.01em 0.1em #999;
	}

	h6{
		color: white;
		text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    text-shadow: 0.01em 0.1em #999;
	}

	.MidScrn{
    z-index: 100;
		background-color:#ffffbf;  // cambiar a blanco #f5f6f9
		width: 90%;
		height: 40%;
		margin-left: 5%;
		margin-right: auto;
		margin-top: 65%;
    border-radius: 2.5% 2.5% 2.5% 2.5%;
    padding: 5%;
    position: absolute;
	}

	.bottomScrn{
    z-index: 60;
		padding: 0;
		background-color: #E1E8F0; 
		width: 100%;
		height: 40%;
		top: 0;
    position: absolute;
    margin-top: 180%;
	}

   .SignUp_For_Free{
     padding-top: 40%;
   }


  section.Password{
    padding-top: 5%;
  }

   .Forgot{
     margin-top: 2px;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
     position:relative;
    
   }

  .forgot{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
  }

  	.user{
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background-color: #E2E7EB;
  	}

    .eye-view-div{
       width: 25px;
       height: 25px;
       position: absolute;
       margin-top: 3%;
       margin-left: 75%;
       margin-bottom: auto;
    }

    .eye-view-img{
      width: 25px;
      height: 25px;
    }
  
    .passwordInput{
      float: left;
      margin:0;
      padding:0;
    }

    a.forgot:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 1px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        transition-delay: 0.2s;
    }

    a.forgot{
        color: black;
        font-size: 12px;
        text-decoration: none;
        display: inline-block;
        margin-top: 10%;
       
        position: relative;
        font-family: 'Dosis', sans-serif;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
    }

    a.forgot:hover{
      color: #F52847;
    }

    a.forgot:hover:after {

      color: #F52847; 
      opacity:  1;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }

    .Sign-button{
      width: 100%;
      height: 15%;
      margin-left: 1%;
      margin-top: 10%;
      border-radius: 25px;
      background-color: #F52847;
      text-align: center;
      font-size: 16px;
      font-family: 'Dosis', sans-serif;
      position: relative;
    }

    .arrow{
        cursor: pointer;
        height: 20px;
        
        position: absolute;
        margin-left: 27%;
        margin-right: auto;
        text-align: center;
         
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        transition: transform .1s;
        width: 10px;
  
        &-top,
        &-bottom {
          background-color: #333;
          height: 3px;
          left: -5px;
          position: absolute;
          top: 50%;
          width: 100%;
  
        }
  
        &-top {
          transform: rotate(45deg);
          transform-origin: bottom right;
          
        }
  
        &-bottom {
          transform: rotate(-45deg);
          transform-origin: top right;
        }
  }

   .sesion{
    margin-left: 4%;
    margin-top: 12px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: black;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color: #333;
  }

  .sesion:hover{
    color: #333;
    transition:  .1s;

    .arrow-top,
    .arrow-bottom {
      background-color: #333;
      height: 3px;
      left: -5px;
      position: relative;
      top: 50%;
      width: 100%;

    }

  }

  .Sign-button:hover{
      .sesion{
          color: #333;
          transition:  .15s;
      }
        .arrow-top,
        .arrow-bottom {
            background-color: #333;
            height: 3px;
            left: -5px;
            position: absolute;
            top: 50%;
            width: 100%;
        }
  }
 
    .bottonAccount{
    	width: 65%;
    	height: 35%;
    	margin-left: 18%;
    	margin-top: 2%;
    	border-radius: 25px;
    	background-color: #ffffbf;
      text-align: center;
         a.effect-underline:after {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 100%;
            border-bottom: 1px solid;
            margin-top: 3px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0,1);
            transform: scale(0,1);
      }
    }

    .bottonAccount:hover a.effect-underline:hover:after {
      opacity: 1;
       -webkit-transform: scale(1);
         transform: scale(1);
    }
         

    .text{
      font-family: 'Noto Sans KR', sans-serif;
      text-align: center;
     }

    button a{
    	color: #0ec254;
    	font-size: 16px;
  		text-decoration: none;
  		display: inline-block;
  		margin-top: 1%;
  		position: relative;
  		font-family: 'Dosis', sans-serif;
  	}

    /*effect-underline*/
	

   
    /* -- footer --*/
    .footer{
      z-index: 60;
      margin-top: 245%;
      width: 100%;
      height: 30%;
      background-color: #ffffbf;
      position: absolute;
      
    }

    .appName_back_to_up{
       width: 100%;
       height: 40px;
       // background-color: red;  div al lado de homegloo
     }

    .apptextName{
     width: 30%;
     height: 40px;
     //background-color: #999;  // gris homegloo
     font-family: 'Pacifico', cursive;
     text-align: center;
   
    }

    .textApp{
      margin-left: 5%;
      padding-top: 2%;
    }

    .content_bottom{
        width: 100%;
        height: 30%;
       
       // background-color: #777;  Gris contenido de bottom
    }

    .contact_icons{
      margin-left: 18%;
      margin-right: auto;
      margin-top: -3%;
    }

    #twitter{
      padding-left: 5%;
    }

    #google{
     padding-left: 5%;
    }

    #github{
     padding-left: 5%;
    }

    #youtube{
     padding-left: 5%;
    }
    
    #pinterest{
     padding-left: 5%;
    }

    #linkedin{
     padding-left: 5%;
    }
    
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    @media only screen and (min-width: 600px) {
      /* For tablets: */

        display: inline-block !important;
    }
    @media only screen and (min-width: 768px) {
      /* For desktop: */

    }

}

/*
The style of home - login page it is from toggl web page
Arrow for login session is from CodePen - code written by Hektor Wallin
*/ 